<div id="workstation">
  <div id="lefttable">
    <div>
      <div>
        <input
          type="text"
          id="picurl"
          cols="30"
          rows="10"
          [(ngModel)]="model.picurl"
        />
      </div>
      <div>
        <button (click)="getImgbyHttp()">getimagebyHttp</button>
      </div>
      <div>
        <div>
          <input
            #uploadInput
            id="upload-input"
            style="display: none"
            type="file"
            multiple="multiple"
          />
          <!-- 自定义按钮效果 -->
          <div style="text-align: top">
            <!-- 然而我不听说要“点上传文件”根本不可能知道这玩意能点 -->
            <span
              style="font-size: 12px; cursor: pointer"
              (click)="uploadInput.click()"
              >上传文件：</span
            >
          </div>
        </div>
      </div>

      <div>
        <button (click)="getImgbyPath()">getimagebyPath</button>
      </div>
    </div>
  </div>
</div>
<div id="picResolve">
  <div>
    <div>
      <label for="crane">crane</label
      ><input width="30" height="10" id="crane" [(ngModel)]="model.crane" />
    </div>
    <div>
      <label for="lane">lane</label
      ><input width="30" height="10" id="lane" [(ngModel)]="model.lane" />
    </div>
    <div>
      <label for="video">video</label
      ><input width="30" height="10" id="video" [(ngModel)]="model.video" />
    </div>
    <div>
      <label for="lorr">lorr</label
      ><input width="30" height="10" id="lorr" [(ngModel)]="model.lorr" />
    </div>
    <div>
      <label for="degree">degree</label
      ><input width="30" height="10" id="degree" [(ngModel)]="model.degree" />
    </div>
    <div>
      <label for="xmin">xmin</label
      ><input width="30" height="10" id="xmin" [(ngModel)]="model.xmin" />
    </div>
    <div>
      <label for="xmax">xmax</label
      ><input width="30" height="10" id="xmax" [(ngModel)]="model.xmax" />
    </div>
    <div>
      <label for="ymin">ymin</label
      ><input width="30" height="10" id="ymin" [(ngModel)]="model.ymin" />
    </div>
    <div>
      <label for="ymax">ymax</label
      ><input width="30" height="10" id="ymax" [(ngModel)]="model.ymax" />
    </div>
  </div>
  <button (click)="setfanwei()">getScope</button>
  <div id="db"><button (click)="clip()">clip</button></div>
  <div *ngFor="let imgurl of model.imgurls; let i = index">
    <img #pic [src]="imgurl" />
    <canvas #canvasshowpic></canvas>
    <canvas #canvasclip width="1440" height="960"></canvas>
  </div>
</div>
